@import './Variables'

.About-container
    max-width: 1240px
    margin: 0 auto
    .Banner
        .Mask
            background-color: rgba(0, 0, 0, 0.3) 

.Collapse-about
    display: flex
    flex-direction: column
    margin: 38px 108px
    .collapse-content
        margin-bottom: 25px
