@import './Variables'

.logement-details
    max-width: 1240px
    margin: 0 auto

.Collapse-logement
    display: flex
    gap: 76px
    margin: 25px 0 50px 0
    
    .collapse-content
        width: 5082px