@import './Variables'
@import './mixins'

.logement-details
    max-width: 1240px
    margin: 0 auto
    
    @include respond-to(mobile)
        max-width: 335px

.Collapse-logement
    display: flex
    gap: 76px
    margin: 25px 0 50px 0
    
    .collapse
        width: 50%
        @include respond-to(mobile)
            width: 100%

    @include respond-to(mobile)
        flex-direction: column
        gap: 0px
        
    
    .collapse-content
        @include respond-to(mobile)
            margin-bottom: 30px
            width: 100%
