@import './Variables'
@import './mixins'
    
.Content
    display: flex
    flex-direction: column
    align-items: center
    margin: 139px auto
    gap: 139px

    @include respond-to(mobile)
        margin: 113px auto
        gap: 113px

    h1
        font-family: $Montserrat
        font-weight: $FontWeightBold
        font-size: 288px
        color: $ColorCorail
        margin: 0
        line-height: 263px

        @include respond-to(mobile)
            font-size: 96px
            line-height: 70px

    
    h2
        font-family: $Montserrat
        font-size: $FontsizeXL
        color: $ColorCorail
        margin: 0
        line-height: 51px
        
        @include respond-to(mobile)
            font-size: $FontsizeMedium
            font-weight: $FontWeightMedium
            line-height: 25.5px
            text-align: center
            padding: 0 40px

    .home-link
        color: black

        @include respond-to(mobile)
            font-size: $FontSizeSmall
            line-height: 20px