
// Font
$Montserrat : 'Montserrat', sans-serif
$FontSizeXsmall : 12px
$FontSizeSmall : 14px
$FontsizeMedium : 18px
$FontsizeLarge : 24px
$FontsizeXL : 36px
$FontsizeXXL : 48px
$FontWeightSmall : 400
$FontWeightMedium : 500
$FontWeightBold : 700

// color
$ColorCorail : #FF6060
$LightGrey : #F6F6F6
$White : #FFFFFF
